body {
	background-color: #8c8c8c;
}
#dataTable {
	width: 80%;
	margin: 0 auto;
	padding: 1em 0;
	border-radius: 5px 5px 0 0;
	background-color: #dddddd;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#dataTable thead tr {
	font-weight: bold;
}
#dataTable tbody tr {
	border-bottom: 1px solid black;
	background-color: #f3f3f3;
}
#dataTable tbody tr:nth-last-of-type(even) {
	border-bottom: 1px solid black;
	background-color: #dddddd;
}
#dataTable td {
	padding-top: 10px;
}
.table-row button {
	margin: 0;
	padding: 0.2em;
	border: 1px dotted lightcoral;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: none;
	color: rgb(255 0 0);
	cursor: pointer;
}
.table-row button:hover {
	margin: 0;
	padding: 0.2em;
	border: 1px dotted white;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: lightcoral;
	color: white;
	cursor: pointer;
}

input {
	padding: 7 px;
	float: right;
}

button {
	padding: 5px;
	margin-left: 2px;
	margin-top: 20px;
}

table {
	text-align: center;
	justify-content: center;
}

label {
	display: block;
}

#dataTable {
	width: 80%;
	margin: 0 auto;
}

#dataTable thead tr {
	font-weight: bold;
}

.table-row button {
	margin: 0;
	padding: 0.2em;
	border: 1px dotted lightcoral;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: none;
	color: rgb(255 0 0);
	cursor: pointer;
}

.active {
	border-radius: 10px;
	background-color: rgb(253, 233, 16);
	color: rgb(255, 255, 255);
	cursor: pointer;
}
#value {
	justify-content: center;
	text-align: center;
}

.forms {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: start;
	text-align: center;
	align-items: center;
	padding: 1em;
}
.newForm {
	margin: 5px;
	padding: 5px;
}
.error {
	border: 1px solid red;
	background-color: rgb(221, 143, 143);
	color: white;
}

.box {
	display: flex;
	padding: 10px;
}

.formsBox {
	position: relative;
	display: flex;
	/* flex-direction: column; */
	margin: auto;
	background-color: #dddddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.box input {
	background: #f3f3f3;
	border-radius: 5px;
	border: 1px solid black;
}
.btnStyles {
	line-height: 20px;
	height: 25px;
	text-align: center;
	width: 100px;
	cursor: pointer;
	background-color: #dddddd;
	border: 1px solid #f3f3f3;
	font-size: 1rem;
	border-radius: 5px;
}
