#dataTable {
	width: 80%;
	margin: 0 auto;
}

#dataTable thead tr {
	font-weight: bold;
}

.table-row button {
	margin: 0;
	padding: 0.2em;
	border: 1px dotted lightcoral;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: none;
	color: rgb(255 0 0);
	cursor: pointer;
}

input {
	padding: 7 px;
	float: right;
}

button {
	padding: 5px;
	margin-left: 2px;
	margin-top: 20px;
}

table {
	text-align: center;
	justify-content: center;
}

label {
	display: block;
}

#dataTable {
	width: 80%;
	margin: 0 auto;
}

#dataTable thead tr {
	font-weight: bold;
}

.table-row button {
	margin: 0;
	padding: 0.2em;
	border: 1px dotted lightcoral;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background: none;
	color: rgb(255 0 0);
	cursor: pointer;
}

.active {
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	background-color: rgb(253, 233, 16);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

#something {
	justify-content: center;
	text-align: center;
	padding: 1em;
	margin: 1em;
	border-radius: 10px;
	border: none;
	background-color: rgb(28, 118, 192);
	text-transform: uppercase;
	cursor: pointer;
}
